%% -*- mode: erlang -*-
[
    {time_tracker_test, [
        {cowboy_port, 8181},

        {db_host, "localhost"},
        {db_port, 5431},
        {db_user, "postgres"},
        {db_password, "password"}
    ]},

{kernel, [
        {logger_level, debug},
        {logger_sasl_compatible, true},
        {logger, [
            {handler, error_log, logger_std_h, #{
                config => #{
                    file => "./log/error.log",
                    max_no_bytes => 10485760, % 10MB
                    max_no_files => 20,
                    compress_on_rotate => true
                },
                level => error
            }},
            {handler, info_log, logger_std_h, #{
                config => #{
                    file => "./log/info.log",
                    max_no_bytes => 10485760, % 10MB
                    max_no_files => 2,
                    compress_on_rotate => true
                },
                level => debug
            }},
            {handler, console_log, logger_std_h, #{
                level => debug
            }}
        ]}
    ]}
].
